<html><body><h1>ArXiv Query: search_query=&id_list=2404.04254v1&start=0&max_results=10</h1><p>Authors: Zhengyuan Jiang, Moyang Guo, Yuepeng Hu, Neil Zhenqiang Gong</p><p>Published: 2024-04-05</p><p>  Several companies--such as Google, Microsoft, and OpenAI--have deployed
techniques to watermark AI-generated content to enable proactive detection.
However, existing literature mainly focuses on user-agnostic detection.
Attribution aims to further trace back the user of a generative-AI service who
generated a given content detected as AI-generated. Despite its growing
importance, attribution is largely unexplored. In this work, we aim to bridge
this gap by providing the first systematic study on watermark-based, user-aware
detection and attribution of AI-generated content. Specifically, we
theoretically study the detection and attribution performance via rigorous
probabilistic analysis. Moreover, we develop an efficient algorithm to select
watermarks for the users to enhance attribution performance. Both our
theoretical and empirical results show that watermark-based detection and
attribution inherit the accuracy and (non-)robustness properties of the
watermarking method.
</p><a href=http://arxiv.org/api/m6tRk5oRtVuIJpM2DMFbgvAjx2I>http://arxiv.org/api/m6tRk5oRtVuIJpM2DMFbgvAjx2I</a><p>Sentiment: 4 stars</p></body></html></body></html>
<br><a href='/'>Return to Home</a>