<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site sur l'intelligence artificielle !</h1>
    <p>Ce site propose une sélection d'articles sur divers sujets liés à l'intelligence artificielle. Explorez nos articles pour en savoir plus sur les dernières avancées, les débats en cours et les applications pratiques de l'IA.</p>

    <p><a href="/get_data">Voir tous les articles</a></p>
   
    <p><a href="/machine_learning"> Aplication du Sentiment Analysis</a><p>
</body>
</html>
